.c-info {
  text-align: center;
  flex-direction: column;
  gap: var(--24px);
  padding: var(--40px) 0;
}

.c-info__title {
  margin: 0;
  font-size: 200px;
  font-weight: 700;
}

.c-info__text {
  font-weight: 700;
  font-size: var(--20px);
  text-transform: uppercase;
  line-height: calc(var(--20px) * 1.5);
}

.c-info__actions {
  margin-top: var(--24px);
}

.c-info__button {
  display: inline-block;
}

.c-info__link {
  color: var(--link-color);
  text-decoration: none;
  font-weight: bold;
  padding: var(--16px) var(--24px);
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: var(--14px);
}

// Responsive
@media screen and (max-width: 576px) {
  .c-info__title {
    font-size: 100px;
  }

  .c-info__text {
    font-size: var(--16px);
    line-height: calc(var(--16px) * 1.5);
  }

  .c-info__link {
    font-size: var(--14px);
    margin-top: var(--8px);
  }
}