.c-loader {
  width: var(--48px);
  height: var(--48px);
  border: var(--8px) solid var(--loader-bg-color);
  border-top: var(--8px) solid var(--text-color);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

// Animation
@keyframes spin {
  0% {
    transform: rotate(0deg);
  } 100% {
    transform: rotate(360deg);
  }
}
