<main class="c-signin-main o-flex-container">
  <form class="c-login o-flex-container">
    <h1 class="c-login__title">Entrar</h1>
    <label class="c-login__label"> Você tem uma conta da HBO Max? </label>
    <input
      class="c-login__field"
      type="email"
      name="email"
      id="email"
      placeholder="Endereço de e-mail"
    />
    <input
      class="c-login__field"
      type="password"
      name="password"
      id="password"
      placeholder="Senha"
      minlength="8"
    />
    <div class="c-login__actions">
      <a href="/not-implemented" class="c-button c-login__button c-button--gradient" data-link>Entrar</a>
      <a href="/not-implemented" class="c-login__link" data-link> Esqueceu a senha? </a>
    </div>
  </form>
</main>
